.container {
    padding: 40px;
    width: 320px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    overflow: hidden;
}

.container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}

.container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.footer {
    margin-top: 50px;
    text-align: center;
    border-top: 4px solid grey;
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.menu li {
    list-style: none none;
    width: inherit;
}

.menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.menu li a:hover {
    background-color: #555;
    color: white;
}

