.container {
    padding: 40px;
    width: 320px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    font-family: 'Arial', sans-serif;

}

.container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}

.container input[type=submit] {
    width: 100%;
    display: block;
    background-color: #3577db;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.container input[type=submit]:hover {
    background-color: #37a1db;
    text-decoration: none;
}

.footer {
    margin-top: 50px;
    border-top: 4px solid grey;
    text-align: left;
}

.login {
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.menu {
    width: inherit;

}

.menu ul {
    list-style: none inside none;
    padding: 8px 16px;
}

.menu li a {
    color: #000;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

.menu li a:hover {
    background-color: #555;
    color: white;
}

.fight:after {
    content: "";
    display: table;
    clear: both;
}

.fight {
    padding-bottom: 40px;
    /*border-bottom: 2px solid #c0c0c0;*/
}

#user {
    float: left;
    width: 40%;
}

#opponent {
    float: right;
    width: 40%;

}

.btn {
    width: 100%;
    background-color: #a8302c;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    background-color: #da352f;
    text-decoration: none;
}

.log {
    border: 2px solid rgb(0, 121, 219);
    border-radius: 4px;
    overflow-y: auto;
    max-height: 200px;
    background-color: #fdfdfd;
}

.log ul {
    list-style: none inside none;
    padding: 8px 16px;
    text-align: left;
    font-style: italic;
}

progress {
    border-radius: 2px;
}

progress::-webkit-progress-value {
    background: #dc373e;
}

progress::-webkit-progress-bar {
    background: #fff;
}
