<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дуэли</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<div class="container">
    <p>Рейтинг: ${rating}</p>
    <#if ready>
        <p>Ожидание оппонента</p>
        <#else>
            <form action="" method="post">
                <button name="set_ready" value="ready" formaction="/main/duel">Начать Дуэль</button>
            </form>
    </#if>
    <#include "footer.html">
</div>
</body>
</html>