<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бой</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<div class="container">
    <div class="user">
        <h4>User</h4>
        <progress value="70" max="100"></progress>
        <p>Урон: 11</p>
    </div>
    <div class="opponent">
        <h4>Opponent</h4>
        <progress value="50" max="100"></progress>
        <p>Урон: 10</p>
        <button>Атковать</button>

    </div>
</div>
</body>
</html>