<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бой</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<div class="container">
    <#if going>
    <div class="fight">
        <div id="user">
            <h4>${username}</h4>
            <progress value=${userCurrHealth} max=${userMaxHealth}></progress>
            <p>Урон: ${userDmg}</p>
        </div>
        <div id="opponent">
            <h4>${opponent}</h4>
            <progress value=${opponentCurrHealth} max=${opponentMaxHealth}></progress>
            <p>Урон: ${opponentDmg}</p>
            <form action="/duel/fight" method="post" style="display: inline">
                <button class="btn">Атаковать</button>
            </form>
        </div>
    </div>
        <#else>
            <form action="/main" method="post" style="display: inline">
                <input type="submit" value="Выход" class="login">
            </form>
    </#if>
    <div class="log">
        <ul>
            <#list logs as log>
                <li>${log}</li>
            </#list>
        </ul>
    </div>
    <#include "footer.html">
</div>
</body>
</html>