<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<div class="container">
    <div class="menu">
        <ul>
            <li><a href="/main/duel">Дуэли</a></li>
            <li>
                <form action="/main" method="post">
                    <input type="submit" value="Выход" class="login">
                </form>
            </li>
        </ul>
    </div>
    <#include "footer.html">
</div>
</body>
</html>